extends layout

block content
  h1= title
  form(method='POST' action='/ratings')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', name='name')
    div.form-group
      label(for='rating') Rating:
      input#rating.form-control(type='number', name='rating')
    button.btn.btn-primary(type='submit') Rate
